<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="x264CRF" value="24"/>
    <add key="x264Bitrate" value="800"/>
    <add key="x264AudioParameter" value=""/>
    <add key="x264AudioMode" value="0"/>
    <add key="x264Exe" value="-1"/>
    <add key="x264Demuxer" value="0"/>
    <add key="x264Width" value="0"/>
    <add key="x264Height" value="0"/>
    <add key="x264CustomParameter" value=""/>
    <add key="x264Priority" value="2"/>
    <add key="x264ExtraParameter" value=""/>
    <add key="AVSScript" value=""/>
    <add key="AudioEncoder" value="0"/>
    <add key="AudioCustomParameter" value=""/>
    <add key="AudioParameter" value="128"/>
    <add key="OnePicAudioBitrate" value="128"/>
    <add key="OnePicFPS" value="1"/>
    <add key="OnePicCRF" value="24"/>
    <add key="BlackFPS" value="1"/>
    <add key="BlackCRF" value="51"/>
    <add key="BlackBitrate" value="900"/>
    <add key="SetupDeleteTempFile" value="true"/>
    <add key="CheckUpdate" value="true"/>
    <add key="TrayMode" value="false"/>
    <add key="SplashScreen" value="true"/>
    <add key="LanguageIndex" value="-1"/>
    <add key="x264Threads" value="0"/>
    <add key="PreviewPlayer" value=""/>
    <add key="MuxFormat" value="0"/>
    <add key="SubLanguageExtension" value="none,sc,tc,chs,cht,en,jp"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="WebServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.ecit.org.cn:8086/webservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
        contract="ServiceReference.WebServiceSoap" name="WebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
